<div style="height: 100%">
  <div class="weui-tab">
      <div class="weui-tab__panel">
        <router-outlet></router-outlet>
      </div>
      <div class="weui-tabbar">
          <a [routerLink]="['/']" (click)="activeIndex=1" class="weui-tabbar__item" [class.weui-bar__item_on]="activeIndex==1">
            <img src="assets/images/weui/icon_user.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">用户</p>
          </a>
          <a [routerLink]="['/message']" (click)="activeIndex=2" class="weui-tabbar__item" [class.weui-bar__item_on]="activeIndex==2">
            <img src="assets/images/weui/icon_message.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">消息</p>
          </a>
          <a [routerLink]="['/help']" (click)="activeIndex=3" class="weui-tabbar__item" [class.weui-bar__item_on]="activeIndex==3">
              <img src="assets/images/weui/icon_help.png" alt="" class="weui-tabbar__icon">
              <p class="weui-tabbar__label">帮助</p>
          </a>
      </div>
  </div>
</div>